.homepagebar {
  background-color: #b71c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

.homepagebartext {
  display: flex;
  gap: 10%;
  align-self: center;
  width: 70%;
}

.homepagebuttons {
  display: flex;
  gap: 15px;
  align-self: center;
}

.getbutton {
  box-shadow: none;
  background-color: #ffffff;
  color: #b71c1c;
  border-radius: 10px;
}

.getbutton:hover {
  background-color: #b71c1c;
  color: #ffffff;
}

.nothanksbutton {
  border-radius: 10px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #ffffff;
  font-weight: bold;
}
