.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
  width: 6rem;
  &.active {
    color: #b71c1c;
  }
}

.buttonbackground {
  border-radius: 20px;
  background-color: inherit;
  &.active {
    background-color: #b71c1c23;
  }
}
