.searchfield {
  width: 100%;
  height: 3rem;
}

.searchicon {
  align-self: center;
  color: #787878;
}

.searchbutton {
  margin: 0.3em;
  box-shadow: none;
}

.searchbutton:hover {
  box-shadow: none;
}
