.topcontainer {
  display: flex;
}

.menucontainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.searchbox {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-left: 10px;
  width: 60%;
  box-shadow: 0px 1px 1px -0.5px rgba(0, 0, 0, 0.05),
    0px 0.5px 1px 0px rgba(0, 0, 0, 0.03),
    0px 0.5px 2px 0.5px rgba(0, 0, 0, 0.03);
  &.mobile {
    justify-self: center;
    align-self: center;
    width: 100%;
  }
}

.title {
  display: flex;
  flex-direction: row;
}

.menumodal {
  height: 100vh;
  width: 100vw;
}
