.categorytabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 5px;
  width: 75px;
}
.articlegridcontainer {
  width: calc(100% - 75px);
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.pagination {
  align-self: center;
}
