.categorytabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 5px;
  width: 75px;
}
.articlegridcontainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 75px);
  gap: 1rem;
}

.pagination {
  align-self: center;
}
