.mainframe {
  margin-top: 15px;
  padding-bottom: 10px;
}

.categoryframe {
  width: 70%;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.sidebar {
  width: 30%;
  background-color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  border-radius: 10px;
  height: calc(100vh - 100px);
}

.titlebar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.mobiletabs {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 1rem;
}
