.mainframe {
  margin-top: 15px;
  padding-bottom: 10px;
}

.categoryframe {
  width: 100%;
}

.categoryframemobile {
  width: 100%;
}

.sidebarmobile {
  width: 100%;
  height: calc(100vh - 200px);
  background-color: #ffffff;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  border-radius: 10px;
}

.titlebar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.titlebarmobile {
  margin-top: 0.5rem;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tabsmobile {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 1rem;
}
