.buttonactive {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  height: 2.5rem;
  width: 6rem;
  background-color: #b71c1c23;
  color: #b71c1c;
}

.buttoninactive {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  height: 2.5rem;
  width: 6rem;
  background-color: inherit;
}
