a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.articlepreviewcard {
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 1px 1px -0.5px rgba(0, 0, 0, 0.05),
    0px 0.5px 1px 0px rgba(0, 0, 0, 0.03),
    0px 0.5px 2px 0.5px rgba(0, 0, 0, 0.03);
}

.categorylink {
  color: #0a64b4;
}

.categorybutton {
  align-self: flex-start;
}

.cardcontent {
  // Bilo je 140px
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.cardbottom {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.cardbottomcontainer {
  display: flex;
  width: 100%;
  align-self: flex-end;
}

.authorname {
  align-self: center;
}

.favoritesbutton {
  margin-left: auto;
  align-self: center;
}

.noimageloaded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cecece;
  height: 140px;
}

.loadinganimation {
  align-self: center;
}
