a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.articlepreviewcard {
  border-radius: 10px;
}

.categorylink {
  color: #0a64b4;
}

.cardcontent {
  padding-bottom: 0px;
}

.cardbottom {
  margin-top: 5%;
  width: 100%;
}

.authorname {
  align-self: center;
}

.favoritesbutton {
  margin-left: auto;
}

.noimageloaded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cecece;
  height: 140px;
}

.loadinganimation {
  align-self: center;
}
