a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.articlepreviewcard {
  border-radius: 10px;
}

.categorylink {
  color: #0a64b4;
}

.categorybutton {
  align-self: flex-start;
}

.cardcontent {
  height: 130px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.cardbottom {
  width: 100%;
  flex-grow: 1;
}

.authorname {
  align-self: flex-end;
}

.favoritesbutton {
  margin-left: auto;
  align-self: flex-end;
}

.noimageloaded {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #cecece;
  height: 140px;
}

.loadinganimation {
  align-self: center;
}
