.sidebararticlepreview {
  margin-right: 5px;
  background-color: inherit;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.time {
  color: #0a64b4;
}
