.categorytab {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}

.categorytabbutton {
  text-transform: capitalize;
  font-size: 0.7rem;
}

.categorytablist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
