.categorytabinactive {
  height: 55px;
  width: 55px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #787878;
  overflow-wrap: break-word;
}

.categorytabactive {
  height: 55px;
  width: 55px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #b71c1c;
  overflow-wrap: break-word;
}

.categorytabbackgroundinactive {
  background-color: inherit;
}

.categorytabbackgroundactive {
  background-color: #ffffff;
}

.categorytabicon {
  align-self: center;
}

.categorytablist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 5px;
}
